<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
   <!--  <link rel="stylesheet" href="home.component.css" />
    <link rel="stylesheet" href="D:/credhomes/angular-form/src/css/custom.css" />
    <link rel="stylesheet" href="D:/credhomes/angular-form/src/css/customCard.css" />
    <link rel="stylesheet" href="D:/credhomes/angular-form/src/css/customModal.css" />
    <link rel="stylesheet" href="D:/credhomes/angular-form/src/css/testimonial.css" />-->

    <script
      src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />

    <title>CredHomes</title>
  </head>
  <body>
    <nav class="navbar header-white justify-content-between">
      <a class="navbar-brand" href="home.html">
        <img
          src="./assets/img/logo_red.svg"
          class="logo-big1"
          width="250"
          height="50"
          alt=""
        />
      </a>
      <ul class="nav float-right">
        <li class="nav-item active">
          <a class="nav-link black-link" href="#">List with us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link black-link" href="#">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link black-link" href="#">Sign Up</a>
        </li>
      </ul>
    </nav>
    <div class="home_hero">
      <div class="container">
        <p class="hero-text">Find Your Perfect Home On Cred Homes</p>
        <p class="hero-subtext">
          There are millions of homes out there let’s <br />find one that’s
          perfect for you.
        </p>

        <div class=" row SEARCH-BAR"></div>
        <br />
        <button class="SEARCH-BUTTON">
          <span class="button-text">Search</span>
        </button>
      </div>
    </div>

    <div class="container">
      <p class="WHY-TO-CHOOSE-US hideonmobile">Why Choose Us?</p>
      <p class="Dash hideonmobile"></p>
      <table class="table-responsive hideonmobile" style="width:90%; text-align: center; margin-top: 44.5px;">
        <tr>
          <td align="center">
            <img class="service-image" src="./assets/img/001-search.svg" />
            <p class="service-text">Find Your Perfect Home Faster</p>
            <p class="service-subtext">
              Unique properties with lots of data points
            </p>
          </td>
          <td align="center">
            <img
              class="service-image"
              src="./assets/img/004-sports-and-competition.svg"
            />
            <p class="service-text">We Are Success Oriented</p>
            <p class="service-subtext">
              Flexible payment plans to subscribe from
            </p>
          </td>
          <td align="center">
            <img class="service-image" src="./assets/img/005-law.svg" />
            <p class="service-text" style="width:277px;">
              Unbiased & Technology Oriented Solution
            </p>
            <p class="service-subtext">Minimal intervention & influencing</p>
          </td>
          <td align="center">
            <img class="service-image" src="./assets/img/003-heart.svg" />
            <p class="service-text">Always Transparent With You</p>
            <p class="service-subtext">
              Feel free to talk to the owners directly
            </p>
          </td>
        </tr>
      </table>

<div class="reponsive-block">
      <p class="WHY-TO-CHOOSE-US">Why Us?</p>
      <p class="Dash"></p>
      <div class="services">
      <div class="row">
        <div class="col-3">
            <img class="service-image" src="./assets/img/001-search.svg" />
        </div>
        <div class="col-9">
            <p class="service-text">Find Your Perfect Home Faster</p>
        </div>
      </div>
      <div class="row">
          <p class="service-subtext">Unique properties with lots of data points</p>
      </div>

      <div class="row">
          <div class="col-8">
              <p class="service-text2">Always Transparent With You</p>
          </div>
        <div class="col-3">
              <img class="service-image2" src="./assets/img/004-sports-and-competition.svg" />
          </div>

        </div>
        <div class="row">
            <p class="service-subtext2 col-12">Feel free to talk to the owners directly</p>
        </div>

        <div class="row">
            <div class="col-3">
                <img class="service-image" src="./assets/img/005-law.svg" />
            </div>
            <div class="col-9">
                <p class="service-text">Unbiased & Technology Oriented Solution</p>
            </div>
          </div>
          <div class="row">
              <p class="service-subtext">Minimal intervention & influencing</p>
          </div>

          <div class="row" style="margin-top:10px;">
              <div class="col-8">
                  <p class="service-text2">We Are Success Oriented</p>
              </div>
            <div class="col-3">
                  <img class="service-image2" src="./assets/img/003-heart.svg" />
              </div>

            </div>
            <div class="row">
                <p class="service-subtext2 col-12">Flexible payment plans to subscribe from</p>
            </div>
</div>
</div>
      <p class="WHY-TO-CHOOSE-US">Testimonials</p>
      <p class="Dash"></p>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-center m-auto">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li
                  data-target="#myCarousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for carousel items -->
              <div class="carousel-inner">
                <div class="item carousel-item active">
                  <div class="img-box">
                    <img src="./assets/examples/images/clients/1.jpg" alt="" />
                  </div>
                  <p class="testimonial">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    eu sem tempor, varius quam at, luctus dui. Mauris magna
                    metus, dapibus nec turpis vel, semper malesuada ante. Idac
                    bibendum scelerisque non non purus. Suspendisse varius nibh
                    non aliquet.
                  </p>
                  <p class="overview"><b>Name 1</b>,Position</p>
                </div>
                <div class="item carousel-item">
                  <div class="img-box">
                    <img src="./assets/examples/images/clients/2.jpg" alt="" />
                  </div>
                  <p class="testimonial">
                    Vestibulum quis quam ut magna consequat faucibus.
                    Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus
                    dictum risus. Pellentesque viverra sagittis quam at mattis.
                    Suspendisse potenti. Aliquam sit amet gravida nibh,
                    facilisis gravida odio.
                  </p>
                  <p class="overview"><b>Name 2</b>,Position</p>
                </div>
                <div class="item carousel-item">
                  <p class="testimonial">
                    Phasellus vitae suscipit justo. Mauris pharetra feugiat ante
                    id lacinia. Etiam faucibus mauris id tempor egestas. Duis
                    luctus turpis at accumsan tincidunt. Phasellus risus risus,
                    volutpat vel tellus ac, tincidunt fringilla massa. Etiam
                    hendrerit dolor eget rutrum.
                  </p>
                  <div class="img-box">
                    <img src="./assets/examples/images/clients/3.jpg" alt="" />
                  </div>
                  <p class="overview float-right"><b>Name 3</b>,Position</p>
                </div>
              </div>
              <!-- Carousel controls -->
              <a
                class="carousel-control left carousel-control-prev"
                href="#myCarousel"
                data-slide="prev"
              >
                <i class="fa fa-angle-left"></i>
              </a>
              <a
                class="carousel-control right carousel-control-next"
                href="#myCarousel"
                data-slide="next"
              >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="WHY-TO-CHOOSE-US">Cred Homes Commandments</p>
      <p class="Dash"></p>
      <table class="hideonmobile" style="width:90%; text-align: center; margin-top: 44.5px;">
        <tr>
          <td align="center">
            <img class="service-image2" src="./assets/img/speedometer.svg" />
            <p class="service-text1" style="margin-top:10px; width:100%;">
              Good Credit Score
            </p>
            <p class=" commandment">
              You must have a credit score of 750+ to be able to rent a house
              listed on Cred Homes. Being a match maker, our job is to list best
              properties for tenants and get the best tenants for owners.
            </p>
          </td>
          <td align="center">
            <img class="service-image2" src="./assets/img/001-card.svg" />
            <p class="service-text1" style="margin-top:10px; width:100%;">
              Digital Payments Only
            </p>
            <p class="commandment">
              We believe in comfort for all, hence every payment you make is
              through digital channels only - Netbanking, Credit/Debit Cards,
              Wallets, UPI - whatever you like. No CASH!
            </p>
          </td>
        </tr>
        <tr style="margin-top:30px;">
          <td align="center">
            <img class="service-image1" src="./assets/img/bank.svg" />
            <p class="service-text1" style="margin-top:10px; width:100%;">
              Pay On Time
            </p>
            <p class="commandment">
              We need you to setup standing instructions for automatic rent
              payments. You must ensure any dues are paid on time
            </p>
          </td>
          <td align="center">
            <img class="service-image1" src="./assets/img/repair.svg" />
            <p class="service-text1" style="margin-top:10px; width:100%;">
              Maintain The House
            </p>
            <p class="commandment">
              We all love our properties so please keep it maintained during
              your stay. It helps to exit on a good note and we promise to get
              your next perfect home at a lower rent.
            </p>
          </td>
        </tr>
        <tr>
          <td align="center">
            <img class="service-image1" src="./assets/img/fame.svg" />
            <p class="service-text1" style="margin-top:10px; width:100%;">
              Build Your Reputation
            </p>
            <p class="commandment">
              We are a dynamic pricing platform helping owners get best tenants
              and tenants get best rents. When you build a good reputation, we
              reduce your platform charges overtime and help getting you better
              than market rents on next move.
            </p>
          </td>
          <td align="center"></td>
        </tr>
      </table>

      <div class="row" style="margin:10px;">
          <img class="service-image3" src="./assets/img/speedometer.svg" />
          <p class="service-text1" style="margin-top:10px; width:100%;">
            Good Credit Score
          </p>
          <p class=" commandment">
            You must have a credit score of 750+ to be able to rent a house
            listed on Cred Homes. Being a match maker, our job is to list best
            properties for tenants and get the best tenants for owners.
          </p>
      </div>
      <div class="row" style="margin:10px;">
          <img class="service-image3" src="./assets/img/001-card.svg" />
          <p class="service-text1" style="margin-top:10px; width:100%;">
              Digital Payments Only
          </p>
          <p class=" commandment">
              We believe in comfort for all, hence every payment you make is through digital channels only - Netbanking, Credit/Debit Cards, Wallets, UPI - whatever you like. No CASH!
          </p>
      </div>
      <div class="row" style="margin:10px;">
          <img class="service-image3" src="./assets/img/bank.svg" />
          <p class="service-text1" style="margin-top:10px; width:100%;">
              Pay On Time
          </p>
          <p class=" commandment">
              We need you to setup standing instructions for automatic rent payments. You must ensure any dues are paid on time
          </p>
      </div>
      <div class="row" style="margin:10px;">
          <img class="service-image3" src="./assets/img/repair.svg" />
          <p class="service-text1" style="margin-top:10px; width:100%;">
              Maintain The House
          </p>
          <p class=" commandment">
              We all love our properties so please keep it maintained during your stay. It helps to exit on a good note and we promise to get your next perfect home at a lower rent.
          </p>
      </div>
      <div class="row" style="margin:10px;">
          <img class="service-image3" src="./assets/img/fame.svg" />
          <p class="service-text1" style="margin-top:10px; width:100%;">
              Build Your Reputation
          </p>
          <p class=" commandment">
              We are a dynamic pricing platform helping owners get best tenants and tenants get best rents. When you build a good reputation, we reduce your platform charges overtime and help getting you better than market rents on next move.

          </p>
      </div>

      <div style="text-align:center;">
        <button class="home-button">
          <span class="button-text">Find Your Perfect Home Now!</span>
        </button>
      </div>
      <p class="footer-text hideonmobile">
        <span class="footer-text"> About us</span
        ><span class="footer-text"> Pricing</span
        ><span class="footer-text"> Contact us</span>
      </p><br><br>
      <p class="footer-text1"> About us</p>
      <p class="footer-text1"> Pricing</p>
      <p class="footer-text1"> Contact us</p>
      <p style="text-align:center;" class="copy">Copyright @2018 Cred Homes</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script>
      function myMap() {
        var mapProp = {
          center: new google.maps.LatLng(51.508742, -0.12085),
          zoom: 5
        };
        var map = new google.maps.Map(
          document.getElementById("googleMap"),
          mapProp
        );
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByzJcYh6wwk6Uih5BSQZbRicTckh4ewpI&callback&callback=myMap"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
